.AudioControl {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: white;
    cursor: pointer;
    display: flex;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.AudioControl-volume {
    font-size: 25px;
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 0;
    color: white;
}

.AudioControl-play {
    font-size: 27px;
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-right: 5px;
    color: white;
}

.AudioControl-slider {
    width: 120px;
    height: 25px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.rc-slider-track {
    background-color: white;  
}

.rc-slider-rail {
    background-color: #777777;
}   

.rc-slider-handle {
    margin-top: 0px;
    border: solid 0px white;
    width: 12px;
    height: 12px;
}


@media only screen and (max-width: 400px)  {
    .rc-slider-handle {
        width: 8px;
        height: 8px;
    }

    .rc-slider-rail {
        height: 2px;
    }

    .rc-slider-track {
        height: 2px;
    }
  }
  