.AudioControl {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: white;
    cursor: pointer;
    display: flex;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.AudioControl-play {
    font-size: 35px;
    display: inline-block;
}

.AudioControl-pause {
    font-size: 35px;
    display: inline-block;
}

.AudioControl-volume {
    font-size: 30px;
    display: inline-block;
}

.AudioControl-slider {
    display: inline-block;
    width: 100px;
    height: 35px;
}