.AudioControl {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: white;
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.AudioControl-play {
    font-size: 50px;
}

.AudioControl-pause {
    font-size: 50px;
}