.Background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.Background-show {
  opacity: 1;
}