.ControlPanel {
  position: absolute;
  right: 0;
  bottom: 40px;
  margin: 15px;
  background-color: rgba(20, 20, 20, 0.95);
  color: white;
  letter-spacing: 1px;
  width: calc(100% - 30px);
  height: calc(100% - 90px);
  max-width: 550px;
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;

  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);

  transition: all 0.15s ease;
}

.ControlPanel-show {
  opacity: 1;
  pointer-events: all;
  
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.ControlPanel-scroll {
  height: calc(100% - 30px);
  padding: 15px 5%;
  overflow-y: auto;
}

.ControlPanel-subheader {
  font-size: 12px;
}

.ControlPanel-custom-input {
  margin: 0px 0px 30px 0px;
}

.ControlPanel-custom-textbox {
  width: 74.5%;
  display: inline-block;
  line-height: 20px;
}

.ControlPanel-custom-button {
  width: 15%;
  margin: 0 0 0 3%;
  display: inline-block;

  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}   

.ControlPanel-custom-error {
  font-size: 11px;
  margin: 0 15px 10px 15px;
  color: rgb(255, 91, 91);
}

.ControlPanel-cell {
  width: 45%;
  float: left;
  margin: 2.5%;
  text-align: center;
}

.ControlPanel-thumbnail {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
  border-radius: 3px;
}

.ControlPanel-thumbnail-container {
  cursor: pointer;
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  height: 0;
}

.ControlPanel-thumbnail-title {
  width: 100%;
  margin: 15px 0 0 0;
  font-size: 12px;
  color: white;

  position: relative;
  top: 7px;
  transition: all 0.15s ease;
}

.ControlPanel-thumbnail-title-hover {
  top: 0;
}

.ControlPanel-thumbnail-source {
  width: 100%;
  margin-bottom: 0 0 15px 0;
  font-size: 10px;
  text-decoration: none;
  color: white;
  pointer-events: none;

  position: relative;
  bottom: 7px;
  opacity: 0;
  transition: all 0.15s ease;
}

.ControlPanel-thumbnail-source-hover {
  bottom: 0;
  opacity: 1;
  pointer-events: all;
}

.ControlPanel-sound-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  color: white;
  cursor: default;
}

.ControlPanel-sound-title {
  font-size: 12px;
  margin-top: 7%;
  margin-bottom: 3%;
  margin-left: 1%;
  margin-right: 1%;
}

.ControlPanel-sound-play {
  cursor: pointer;
  margin: 1% 0 2% 0;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.ControlPanel-sound-slider {
  margin: 0 5%;
  width: 90%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.react-tabs {
  height: 100%;
}

.react-tabs__tab-list {
  background-color: rgb(12, 12, 12);
  font-size: 14px;
  margin: 0;
  padding: 1em 5px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: bold;
  color: #a5a5a5;
}

.react-tabs__tab:hover {
  color: white;
}

.react-tabs__tab--selected {
  color: white;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  height: calc(100% - 58px);
}

.ControlPanel-sound-load{
	width: 20px;
	height: 20px;
	display: block;
	position: relative;
	margin: 7px auto;
}

.ControlPanel-sound-load-block{
	background-color:rgb(255,255,255);
	float:left;
  height:13px;
  margin-top: 4px;
	margin-left:3px;
	width: 2px;
	animation-name:bounceG;
		-o-animation-name:bounceG;
		-ms-animation-name:bounceG;
		-webkit-animation-name:bounceG;
  -moz-animation-name:bounceG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(0.7);
		-o-transform:scale(0.7);
		-ms-transform:scale(0.7);
		-webkit-transform:scale(0.7);
		-moz-transform:scale(0.7);
}

.ControlPanel-sound-load-block-1{
	animation-delay:0s;
		-o-animation-delay:0s;
		-ms-animation-delay:0s;
		-webkit-animation-delay:0s;
		-moz-animation-delay:0s;
}

.ControlPanel-sound-load-block-2{
	animation-delay:0.15s;
		-o-animation-delay:0.15s;
		-ms-animation-delay:0.15s;
		-webkit-animation-delay:0.15s;
		-moz-animation-delay:0.15s;
}

.ControlPanel-sound-load-block-3{
	animation-delay:0.3s;
		-o-animation-delay:0.3s;
		-ms-animation-delay:0.3s;
		-webkit-animation-delay:0.3s;
		-moz-animation-delay:0.3s;
}

@keyframes bounceG{
	0%{
		transform:scale(1.2);
		opacity:1;
	}

	100%{
		transform:scale(0.7);
		opacity:0.1;
	}
}

@-o-keyframes bounceG{
	0%{
		-o-transform:scale(1.2);
		opacity:1;
	}

	100%{
		-o-transform:scale(0.7);
		opacity:0.1;
	}
}

@-ms-keyframes bounceG{
	0%{
		-ms-transform:scale(1.2);
		opacity:1;
	}

	100%{
		-ms-transform:scale(0.7);
		opacity:0.1;
	}
}

@-webkit-keyframes bounceG{
	0%{
		-webkit-transform:scale(1.2);
		opacity:1;
	}

	100%{
		-webkit-transform:scale(0.7);
		opacity:0.1;
	}
}

@-moz-keyframes bounceG{
	0%{
		-moz-transform:scale(1.2);
		opacity:1;
	}

	100%{
		-moz-transform:scale(0.7);
		opacity:0.1;
	}
}


@media only screen and (max-width: 400px)  {
  .ControlPanel-cell {
    height: 25%;
  }
  .ControlPanel-sound-play {
    font-size: 18px;
    margin: 5% 0 10% 0;
  }
  .ControlPanel-sound-title {
    font-size: 10px;
  }

  .ControlPanel-sound-slider {
    height: 10px;
  }
  .ControlPanel-thumbnail-title {
    margin-top: 0;
  }
  .ControlPanel-thumbnail-container {
    padding-bottom: 70%;
  }
}